@model IEnumerable<ERP.TableTest.Table_1>
@{
    ViewData["Title"] = "Index??????";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Name1</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t1 in Model)
        {
            <tr data-id="@t1.id">
                <td class="table-id">
                    @t1.id
                </td>
                <td class="table-name">
                    @t1.name
                </td>
                <td class="table-name">
                    @t1.name1
                </td>
                <td>
                    <button class="btn btn-primary edit-btn" data-id="@t1.id">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editFormContainer"></div>
                <div id="conflictMessage" class="alert alert-danger" style="display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.edit-btn').on('click', function () {
                var productId = $(this).data('id');
                $.get('/TableTest/Edit/' + productId, function (data) {
                    $('#editFormContainer').html(data);
                    $('#editModal').modal('show');
                });
            });

            $('#saveChangesBtn').on('click', function () {
                var form = $('#editFormContainer form');
                var formData = form.serialize();
                $.post('/TableTest/Edit', formData, function (data) {
                    var row = $('tr[data-id="' + data.id + '"]');
                    row.find('.table-name').text(data.name);
                    row.find('.table-name1').text(data.price);
                    $('#editModal').modal('hide');
                }).fail(function (xhr) {
                    if (xhr.status === 409) {
                        $('#conflictMessage').text(xhr.responseJSON.message).show();
                    } else {
                        alert('Error: ' + xhr.responseText);
                    }
                });
            });
        });
    </script>
}


@* @foreach (var t2 in Model.Table_2)
{
    <input value="@t2.id"></input>
    <input value="@t2.name1"></input>
    <input value="@t2.name2"></input>
    <input value="@t2.name3"></input>
    <input value="@t2.name4"></input>
    <input value="@t2.name5"></input>
    <input value="@t2.name6">
    <br />
}
@foreach(var t3 in Model.Table_3)
{
    <input value="@t3.id">
    <input value="@t3.name1">
    <input value="@t3.name2">
    <input value="@t3.name3">
    <input value="@t3.name4">
    <input value="@t3.name5">
    <input value="@t3.name6">
    <br />
}

@foreach (var t4 in Model.Table_4)
{
    <input value="@t4.id">
    <input value="@t4.name1">
    <input value="@t4.name2">
    <input value="@t4.name3">
    <input value="@t4.name4">
    <input value="@t4.name5">
    <input value="@t4.name6">
    <br />
}

@foreach (var t5 in Model.Table_5)
{
    <input value="@t5.id">
    <input value="@t5.name1">
    <input value="@t5.name2">
    <input value="@t5.name3">
    <input value="@t5.name4">
    <input value="@t5.name5">
    <input value="@t5.name6">
    <br />
} *@