@model 南岩ERP.MisEFModels.機器設備硬碟備份紀錄

<html>
<head>
    @{
        ViewData["Title"] = "EditDataBackup";
    }
    <style>

    </style>
</head>
<body>
    <a class="btn btn-danger" href="@Url.Action("DataBackup","Mis")">返回</a>

    <h1>EditDataBackup</h1>
    <div class="main-contain">
        @using (Html.BeginForm("EditDataBackup", "Mis", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "needs-validation", novalidate = "true" }))
        {
            <table class="table-bordered">
                <tr>
                    <th>
                        設備名稱
                    </th>
                    <th>
                        備份日期
                    </th>
                    <th>
                        Ghost
                    </th>
                    <th>
                        TrueImage
                    </th>
                    <th>
                        備註
                    </th>
                </tr>

                <tr id="@Model.流水號">
                    <td>
                        @Html.EditorFor(m => Model.流水號, new { htmlAttributes = new { hidden = "true" } })
                        @Html.EditorFor(m => Model.設備名稱, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                    </td>
                    <td>
                        @Html.EditorFor(m => Model.備份日期, new { htmlAttributes = new { type = "date", @class = "form-control", required = "true" } })
                    </td>
                    <td style="text-align:center;">
                        @Html.EditorFor(m => Model.Ghost)
                    </td>
                    <td style="text-align:center;">
                        @Html.EditorFor(m => Model.TrueImage)
                    </td>
                    <td>
                        @Html.EditorFor(m => Model.備註, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary">儲存</button>
        }

    </div>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>
</html>
